
@{
    ViewBag.Title = "自动回复设置";
}

<div id="app">
    <div class="searchDiv">
        <h2 class="titl">自动回复管理</h2>
        <div class="searche_con">
            <i-button type="primary"  class="fr" size="small">添加</i-button>
        </div>
    </div>
    <div class="tcon">
    </div>
</div>

<script>
    Vue.http.options.emulateJSON = true;
    Vue.http.options.headers = {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
    };
    var app = new Vue({
        el: '#app',
        data: {
            modalAdd: false,
        }
    })
</script>