<style>
    li, ul, ol {
        list-style: none;
    }

    dt {
        display: block;
    }

    a, a:hover {
        color: #0C4C7F;
    }

    .apiApp_menu_showList {
        border-top: 1px solid #E4E6E9;
    }

    .apiApp_menu_showItem {
        border-bottom: 1px solid #E4E6E9;
        padding: 17px 8px 18px;
    }

    .apiApp_menu_showItem_cnt_title {
        color: #787878;
        font-size: 12px;
        margin-bottom: 4px;
    }

    .apiApp_menu_showItem_cnt .apiApp_menu_showItem_cnt_menuName_First {
        line-height: 28px;
        font-size: 18px;
    }

    .apiApp_menu_showItem_cnt_menuName {
        font-size: 14px;
        margin-bottom: 6px;
        color: #373737;
    }

    .apiApp_menu_showItem_cnt_editBtn {
        position: absolute;
        right: 9px;
        top: 9px;
    }

    .ww_icon_Edit {
        background-image: url('../../img/icons$ac4e4089.png');
        height: 14px;
        width: 14px;
        background-position: -678px -865px;
    }

    .ww_icon {
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
    }

    .apiApp_menu_showItem_AddMenu a {
        display: block;
        height: 100%;
        line-height: 90px;
        font-size: 18px;
        text-indent: 8px;
        font-weight: 300;
    }

    .apiApp_menu_setMenu {
        position: relative;
        background-color: #F9F9FA;
        padding: 0 15px 44px;
        min-height: 490px;
        width: 530px;
    }

    .apiApp_menu_setMenu_header {
        position: relative;
        padding-top: 18px;
    }

        .apiApp_menu_setMenu_header .apiApp_menu_setMenu_header_title {
            display: inline-block;
            margin-bottom: 4px;
            margin-right: 10px;
            font-size: 12px;
            color: #787878
        }

        .apiApp_menu_setMenu_header .ww_inputText_FullWidth {
            font-size: 12px;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 30px;
        }

    .ww_inputText_Big, .ww_textarea_Big {
        width: 252px;
        padding: 5px 6px;
        font-size: 14px;
    }

    .apiApp_menu_setMenu_header .ww_icon_Trash {
        position: absolute;
        right: 1px;
        top: 20px;
        cursor: pointer;
    }

    .ww_icon_Trash {
        background-position: -933px -70px;
        width: 12px;
    }

    .ww_icon_Trash, .ww_icon_UnPublished {
        background-image: url(../../img/icons$ac4e4089.png);
        height: 14px;
    }

    .ww_icon {
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
    }
    .apiApp_menuInfoPanel_header {
        padding-top: 13px;
    }
        .apiApp_menuInfoPanel_header .apiApp_menuInfoPanel_header_title {
            display: inline-block;
            margin-bottom: 4px;
            margin-right: 10px;
            color: #787878;
        }
    .apiApp_menuInfoPanel_body {
        padding-top: 18px;
    }
    .apiApp_menuInfoPanel_list .apiApp_menuInfoPanel_item_title {
        float: left;
        width: 60px;
        margin-right: 8px;
        text-align: right;
        color: #787878;
        line-height: 26px;
    }
    .apiApp_menuInfoPanel_closeBtn {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
    .apiApp_menuInfoPanel_body {
        padding-top: 18px;
    }
</style>
<div id="app">
    <div id="detail">
        <h1>
            欢迎使用。。微信后台管理系统V1
        </h1>
    </div>
</div>
<script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            message: 'sadfsafsdafsdafsdafsdafsdafsdafsdafsafsafsdafsdafsda'
        }
    })
</script>