@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    地址<br />
    ssssss<br />
    <abbr title="Phone">P:</abbr>
    电话号码
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:11@11.com">邮箱111111</a><br />
    <strong>Marketing:</strong> <a href="mailto:11@1.com">邮箱2222</a>
</address>